@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Tangerine:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    
}

/* Head section start here */
#head-section{
    display: flex;
    background-color: rgb(204, 240, 201);
    background-image: url('images/background/bg3.png');
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 50px;
    letter-spacing: 2px;
}
.mid-color{
    color: rgb(20, 90, 219);
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 50px !important;
}
.head-left{
    width: 60%;
    padding: 6%;
}
.head-left h1{
    font-size: 30px;
}
.head-right{
    width: 40%;  

}
.head-right img{
    width: 100%;
}
.head-left h5{
    margin-top: 20px;
    color: #2980b9;
    padding: 10px;
    font-size: 2.5em;
    font-family: 'Tangerine', cursive;
    margin-bottom: 50px;
}
.link-btn{
    text-decoration: none;
    background: linear-gradient(to right ,rgb(47, 111, 230), #91c4e5);
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    
}
/* Head section end here */

/* About section start here */
#about-section{
    display: flex;
    width: 100%;
    padding: 50px;
    background-image: url('images/background/bg1.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-section-left{
    width: 50%;
    text-align: center;
    
}
.about-section-left img{
    width: 100%;
    
}
.about-section-right{
    width: 50%;
    padding: 6%;
    padding-right: 15% !important;
    background-image: url('images/background/bg2.png');
    background-position: right;
    background-repeat: no-repeat; 

}
.about-section-right h3{

    font-size: 30px;
    color: rgb(20, 90, 219);
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 50px !important;
}
.about-section-right p{
    font-size: 20px ;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 10px;
}
.about-link-btn{
    text-decoration: none;
    background: linear-gradient(to right ,rgb(47, 111, 230), #91c4e5);
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    display: inline-block;
    margin-top: 20px;
}
/* About section end here */

/* Recipies section start here */
#recipies{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #eef2f3;
    background-image: url('images/background/bg3.png'); 
    background-position: bottom; 
    background-repeat: no-repeat;
}
.recipies-top{
    width: 100%;
    text-align: center;
}
.recipies-top h3{
    color: rgb(20, 90, 219);
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 50px !important;
    margin-bottom: 25px;
}
.recipies-top p{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 10px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px !important;
}
.recipies-bottom{
    display: flex; 
    width: 70%;
    margin: 0 auto;
}
.recipies-bottom-part{
    width: 30%;
    padding: 15px;
    margin: 10px 25px;
    box-shadow: 0 5px 15px #bdc3c7;
    border-radius: 20px;
    
}
.recipies-bottom-part img{
    width: 100%;
    
}
.recipies-bottom-part:nth-child(2) img,.recipies-bottom-part:nth-child(3) img{
    border-radius: 20px;
}
.recipies-bottom-part h4{
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1.2px;
}
.recipies-bottom-part p{
    line-height: 1.5;
    letter-spacing: 1.5px;
}
/* recipies end */

/* Counter start */
#counter-section {
    padding: 80px 0;
    text-align: center;
    background-color: #eef2f3;
    background-image: url(images/background/bg3.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.counter {
    display: flex;
    width: 60%;
    margin: auto;
    box-shadow: 3px 4px 20px rgb(0 0 0 / 50%);
    padding: 30px;
    border-radius: 30px;
}
.counter-part {
    width: 31%;
    margin: 0 1%;
}
.counter-part h1{
    color: rgb(20, 90, 219);
    font-weight: 900;
    margin-bottom: 10px;
}
.counter-part p{
    font-size: 12px;
    letter-spacing: 1.5px;
}
/* Counter end */

/* Contact start */
#contact-us{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(204, 240, 201);
    background-image: url(images/background/bg3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    

}
#contact-us h3{
    text-align: center;
    color: rgb(20, 90, 219);
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 50px !important;
    letter-spacing: 1.2px;
    margin-bottom: 50px;
}
#contact-us form{
    text-align: center;
}
#contact-us form input{
    width:50%;
    margin-bottom: 20px;
    padding: 10px 30px;
    border: none;
    border-bottom: 1px solid #000;
}
#contact-us form textarea{
    width:50%;
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid #000;
}
#contact-us form input:focus{
    outline: none;
}
#contact-us form textarea:focus{
    outline: none;
}
.ct-btn{
    text-align: center;
    margin-top: 50px;
}
.contact-btn{
    text-decoration: none;
    background: linear-gradient(to right ,rgb(47, 111, 230), #91c4e5);
    padding: 10px 50px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    border: none;
}
/* Conatct end */

/* Footer start*/
footer{
   padding-top: 50px;
   padding-bottom: 50px;
   text-align: center;
   background-color:#2c3e50;
   color: #fff;
}
footer span{
    text-align: center;
    color: rgb(20, 90, 219);
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 50px !important;
    letter-spacing: 1.2px;
}
footer p{
    margin-top: 10px;
    letter-spacing: 1.5px;
}
/* Footer end */